SYSDOC_CLIENT_ID=1
SYSDOC_CLIENT_SECRET=ecYYlkJz3ROsTlOrtE1CwCD79uPy0ZhEqKVWbqST
SYSDOC_AUTH_URL=http://localhost:8000/oauth/token
SYSDOC_GRANT_TYPE=client_credentials
SYSDOC_API_URL='http://127.0.0.1:8000/api/v1'
# SYSDOC_URL='http://127.0.0.1:8000/api/v1/integrations/incoming-documents'
API_SHIELD_SECRET=''